body {
    height: 100vh;
    margin-top: 10vh;
}

a,
p,
h1,
h2,
h3,
td,
th {
    font-family: 'Orbitron', sans-serif;
}

a {
    font-size: 1.6em;
}

#header {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5em;
    font-weight: 500;
}

.social a {
    margin: 10px 10px;
}

p {
    font-size: 1.2em;
}

#about-text,
#project-text {
    font-weight: 500;
    font-size: 1.7em;
}

.figure-caption {
    font-family: 'Orbitron', sans-serif;
}

a:hover {
    text-decoration: none;
}

.hov:hover {
    transform: scale(1.1);
    transition: transform .3s;
}

.figure-caption {
    color: black;
}

@media (max-width: 767.98px) {
    #header {
        font-size: 2.5em;
    }
    #about-text,
    #project-text {
        font-size: 1.3em;
    }
    #footer-text {
        font-size: 1em;
    }
}

[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}